<div class="jumbotron">
  <h1 class="display-4">Student Management <%=   formated_date(DateTime.now) %> </h1>
  <p class="lead">This is a Fiverr Project.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
